<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo.css">
        <link href="http://fonts.cdnfonts.com/css/madfont-2" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/shock-corridor" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/mr-white" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/cloudlike" rel="stylesheet">
       <title>Catalogo de Carros</title>
       <link rel="icon" type="image/png" href="https://blueedtech.com.br/wp-content/uploads/2020/12/cropped-favicon-1-32x32.png">
    </head>
    <body id="enter">
        <header id="logo">
            <h1 id="car">Podium</h1>

            <section class="botao">
                <a id="in" href="/"><strong>Inicio</strong></a>
                <a id="cad" href="/criar"><strong>Cadastrar</strong></a>
                <a id="qs" href="/quem"><strong>Quem somos</strong></a>
                
            </section>
        </header>

     

            <section class="container">
                <h2 id="bem">Bem Vindo ao</h2>
                <h1 id="pod">Podium Car!</h1>
                <p id="dir">crie seu catalogo de veiculos,<br>você perderá menos tempo pesquisando <br> e mais tempo dirigindo!</p>

                <a id="vej" href="/lista"><strong>Veja todos os carros</strong></a>
            </section>
            
        

           

        <script src="/js/script.js"></script>
    </body>
</html>


