<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo.css">
        <link href="http://fonts.cdnfonts.com/css/madfont-2" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/shock-corridor" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/mr-white" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/cloudlike" rel="stylesheet">
        <title>Quem Somos</title>
    </head>
    <body>
        <header id="logo">
            <h1 id="car">Podium</h1>

            <section class="botao">
                <a id="in" href="/"><strong>Inicio</strong></a>
                <a id="cad" href="/criar"><strong>Cadastrar</strong></a>
                <a id="cad" href="/lista"><strong>Ver carros</strong></a>
                <a id="qs" href="/criar"><strong>Quem somos</strong></a>
            </section>
        </header>
        
        <h2 class="nomes">Felipe Pereira de Padua, 16 anos.</h2>

        <section id="fel"> 

              <img id="perf" width="550" height="500" src="https://cdn.discordapp.com/attachments/478608140993167360/898709385453387796/IMG_20210814_203043_502.webp">

                <section id="toop">

                    <a id="in" href="https://www.instagram.com/padua.felipe/" target="_blank">Instagram</a>
                    <a id="in" href="https://www.facebook.com/felipe.pereiradepadua.9" target="_blank"><strong>Facebook</strong></a>
                    <a id="in" href="https://github.com/felipepadua011" target="_blank"><strong>GitHub</strong></a>
                    <a id="in" href="https://www.linkedin.com/in/felipe-pereira-de-padua-a2a005221/" target="_blank"><strong>Linkedin</strong></a>

                </section>

        </section>

        <h2 class="nomes">Wellington Nascimento, 27 anos.</h2>

        <section id="well"> 
            
            <img id="perf" width="530" height="500" src="https://cdn.discordapp.com/attachments/895482892627607602/898707779714445352/c45e72dc-e238-4f14-934b-1bb6dee5ac4b.jpg">

            <section id="top">

                <a id="in" href="https://www.instagram.com/wetto_nascimento/" target="_blank">Instagram</a>
                <a id="in" href="https:/www.facebook.com/Wellingtonweto" target="_blank"><strong>Facebook</strong></a>
                <a id="in" href="https:/github.com/wellingtonnascimentto" target="_blank"><strong>GitHub</strong></a>
                <a id="in" href="https:/www.linkedin.com/in/wellington-nascimento-24031b218" target="_blank"><strong>Linkedin</strong></a>

            </section>
            
        </section>

        
        

        <script src="/js/script.js"></script>
    </body>
</html>