
@import url('http://fonts.cdnfonts.com/css/madfont-2');

@import url('http://fonts.cdnfonts.com/css/shock-corridor');

@import url('http://fonts.cdnfonts.com/css/mr-white');

@import url('http://fonts.cdnfonts.com/css/cloudlike');

@import url('http://fonts.cdnfonts.com/css/comic-balloon');

                
                
                                         

body { 
    margin: 0px;
}
.fundo {
    margin: 0px;
    background-repeat:unset;
    background-size: cover; 
    background-image: url("https://cdn.discordapp.com/attachments/895482892627607602/898348829139697705/thumb2-binding-texture-4k-carbon-texture-gray-background-lines.jpg");
}
.container2 {   
    display: flex;
    align-items: flex-start;
    float: left;
}
.container {
    margin: 10px;
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    flex-wrap: wrap;
}
.nomes {
    margin-left: 40px;
}
#top {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
}
#toop {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
}
#perf { 
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 450px;
}
#well {
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#fel {
    background-color: rgb(134, 0, 0);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#carroo {
    background-repeat:unset;
    background-size: cover; 
    background-image: url("https://cdn.discordapp.com/attachments/895482892627607602/898348829139697705/thumb2-binding-texture-4k-carbon-texture-gray-background-lines.jpg");
}
#carro {
    display: flex;
    justify-content: center;
    margin: 18px;
    font-family: 'Comic Balloon', sans-serif;
    color: rgb(221, 221, 221);
    font-size: 32px;  
    flex-direction: column;
}
#car { 
    display: flex;
    justify-content: flex-start;
    margin: 18px;
    font-family: 'Shock Corridor', sans-serif;
    color: black;
    font-size: 32px;                                            
}
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: rgb(202, 202, 202);
}
#poke {
    margin: 10px;
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
#in {
    color: black;
    margin-left: 60px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 5px; 
    text-decoration: none; 
    font-family: 'Mr-White', sans-serif;
    font-size: 30px;
}
#cad {
    color: black;
    margin-left: 60px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 5px; 
    text-decoration: none; 
    font-family: 'Mr-White', sans-serif;
    font-size: 30px;                                           
}
#qs {
    color: black;
    margin-left: 60px;
    margin-right: 18px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;  
    font-family: 'Mr-White', sans-serif;
    font-size: 30px;                                        
}
#vej {
    margin: 30px;
    color: white;
    margin-left: 60px;
    margin-right: 18px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none; 
}
a:hover {
    background-color:rgb(182, 182, 182);
}
#enter {
    background-size: cover; 
    background-image: url("https://cdn.discordapp.com/attachments/733368043782144120/795770242335899688/c54ffe1f93d7a4c77558e4bb42038cda.gif");
}
.container {
    margin: 300px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: flex-start; 
    color: white;

                                                
}
#bem { 
    margin: 0px;
    display: flex; 
    font-size: 55px;
    
}
#pod {
    margin: 0px;
    display: flex; 
    font-size: 60px;
    font-family: 'Shock Corridor', sans-serif;
                                                
}
#dir {
    margin: 0px;
    display: flex; 
    font-size: 30px;
}



#pokemo {
    display: flex; 
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px; 
}
#pokem { 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#pokem ul {
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    list-style: none;
    margin: 10px;
    margin-top: 40px;
    padding: 30px;
    border-radius: 15px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}




#poke ul li {
    /* padding: 5px; */
}

#poke ul {
    background-color: rgb(206, 206, 206);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    list-style: none;
    margin: 10px;
    margin-top: 40px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nomee {
    display: flex; 
    justify-content: flex-start; 
    color: black;
    margin: 20px; 
    padding: 5px;
}
.tipoo {
    display: flex; 
    justify-content: flex-start; 
    color: black;
    margin: 20px; 
    padding: 5px;
}
.numeroo {
    display: flex; 
    justify-content: flex-start; 
    color: black;
    margin: 20px; 
    padding: 5px;
}
.tipooo {
    background-color: red;
    display: flex; 
    justify-content: flex-start;
    margin: 20px; 
    color: white;
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    height: 20px;
}
.imagee { 
    display: flex; 
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px; 
}
.cada {
    color: red;
}
.sucesso { 
    color: red; 
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#cadastro { 
    color: red;
}

#detalhes {
    color: rgb(221, 221, 221);
}




#titulo {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

section#message {
    padding: 1.5rem;
    background-color: rgb(207, 207, 207);
    color: #004d04;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}
  
span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
}